ip: 192.168.10.10
memory: 2048
cpus: 1
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: ~/Sites/FloPoker
        to: /home/vagrant/Code/flopoker
        type: "nfs"
sites:
    -
        map: flopoker.app
        to: /home/vagrant/Code/flopoker/web
        type: symfony
databases:
    - homestead
name: flopoker
hostname: flopoker
